# Dépendances
node_modules/

# Fichiers système
.DS_Store
Thumbs.db
*.swp
*.swo

# IDEs
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environnement
.env
.env.local
.env.*.local

# Logs
*.log
npm-debug.log*

# Nuxt
.nuxt/
.output/
.data/
.nitro/
.cache/

# Build
dist/
build/

# Prisma
prisma/migrations/

# Vercel
.vercel/

# Misc
*.pem
package-lock.json
generated/
